<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>CashMoneyBoard</title>
    <link rel="stylesheet" href="/styles.css">
    <%= "<link rel='stylesheet' href='/aes_styles.css'>" if $aesthetic %>
  </head>
  <body>
    <h1><a href="/" id="title-link">
      <%= $aesthetic ? "CΛ$HMONΣ¥฿OΛRD" : "CashMoneyBoard" %>
    </a></h1>
    <nav>
      <a href="/users"><span class="hover-underline">Users</span></a>
      <a href="/transactions/user"><span class="hover-underline">Transactions</span></a>
      <a href="/merchants"><span class="hover-underline">Merchants</span></a>
      <a href="/tags"><span class="hover-underline">Tags</span></a>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
    <footer>
      &copy; CMB / Leadley Industries 2017.
      <a class="aesthetic-link" href="/aesthetic"><span>
        <%= $aesthetic ? "Disengage" : "Engage" %> Aesthetic
      </span></a>
    </footer>
  </body>
</html>
