<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <title>CashMoneyBoard</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1><a href="/" id="title-link">CashMoneyBoard</a></h1>
    <nav>
      <a href="/users">Users</a>
      <a href="/transactions/user">Transactions</a>
      <a href="/merchants">Merchants</a>
      <a href="/tags">Tags</a>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
