<h2>New Merchant</h2>
<form id="new-merchant" action="/merchants" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name">

  <label for="tag-select">Tag:</label>
  <select id="tag-select" name="tag_id">
    <% @tags.each do |tag| %>
      <option value="<%= tag.id %>">
        <%= tag.name %>
      </option>
    <% end %>
  </select>

  <input type="submit" name="add" value="Add Merchant">
</form>
