<h2>New Tag</h2>
<div class="show">
  <form id="new-tag" action="/tags" method="post">
    <table class="show-details">
      <tr>
        <th><label for="name">Name</label></th>
        <td><input type="text" id="name" name="name"></td>
      </tr>
      <input type="hidden" name="new-tag" value="Add Tag">
    </table>
  </form>
  <div class="show-buttons">
    <a href="#" onclick="document.getElementById('new-tag').submit();">
      <span class="hover-underline">Add Tag</span>
    </a>
  </div>
</div>
