<h2>Choose a User</h2>
<div class="user-chooser">
  <% @users.each do |user| %>
    <a href="/transactions/user/<%= user.id %>">
      <div class="cell"><span class="hover-underline">
        <%= user.full_name %>
      <span></div>
    </a>
  <% end %>
</div>
