<h2>New User</h2>
<form id="new-user" action="/users" method="post">
  <label for="first-name">First name:</label>
  <input type="text" id="first-name" name="first_name">

  <label for="last-name">Last name:</label>
  <input type="text" id="last-name" name="last_name">

  <label for="budget-cap">Budget cap:</label>
  <input type="number" id="budget-cap" name="budget_cap">

  <input type="submit" name="add" value="Add User">
</form>
