<h2>All Users</h2>
<div class="user-index">
  <% @users.each do |user| %>
    <a href="/users/<%= user.id %>">
      <div class="cell">
        <%= user.full_name %>
      </div>
    </a>
  <% end %>
</div>
