* {
  background: none !important;
  border-color: #ff00ff !important;
}

body {
  background-image: url('/aes_gradient.png') !important;
  /*background: linear-gradient(pink, blue);*/
  /*background-image: url('/aesthetic.gif'), url('/aes_gradient.png') !important;*/
  /*background-position: top right, left !important;
  background-repeat: no-repeat, repeat !important;*/
  color: #ff00ff;
}

a, #title-link, .aesthetic-link span {
  color: #ff00ff;
}

#title-link {
  letter-spacing: .5em;
}

a:hover span.hover-underline {
  border-bottom: 1px solid #ff00ff;
}

.delete-button:hover, .budget-exceeded:hover {
  color: #ffe5e5;
  background-color: red !important;
}

input[type=text], input[type=number], input[type=datetime-local], select {
  color: #ff00ff;
}
