body {
  font-family: "Avenir Next", sans-serif;
  color: #55557f;
  background-color: #f6f6ff;
  margin: 0;
}

.content {
  width: 720px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 0px;
  padding-top: 20px;
}

h2 {
  text-align: center;
  margin-top: 0px;
}

a {
  color: #55557f;
  text-decoration: none;
}

#title-link {
  display: inline-block;
  padding: 10px 15px;
  font-weight: bold;
  color: #55557f;
  text-decoration: none;
  border-radius: 3px;
  transition: all .15s ease-in-out;
}

#title-link:hover {
  background-color: #eeeeff;
}

span.hover-underline {
  transition: all .15s ease-in-out;
  border-bottom: 1px solid transparent;
}

a:hover span.hover-underline {
  border-bottom: 1px solid #55557f;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

nav a {
  display: block;
  padding: 10px 15px;
  margin: 0px 5px;
  transition: all .15s ease-in-out;
  border-radius: 3px;
}

nav a:hover {
  background-color: #eeeeff;
}

hr {
  margin: 0.25em 0;
  border: none;
  border-top: 1px solid #55557f;
}

.user-chooser {
  display: flex;
  flex-direction: column;
  background-color: #e5e5ff;
  border: 2px solid #55557f;
  border-radius: 3px;
  width: 480px;
  margin: auto;
}

.user-chooser .cell {
  font-size: 140%;
  text-align: center;
  padding: 15px 0px;
  transition: all .15s ease-in-out;
}

.user-chooser a:nth-child(even) .cell {
  background-color: #ddddff;
}

.user-chooser a .cell:hover {
  background-color: #eeeeff;
}

.user-chooser a:first-child .cell {
  border-radius: 3px 3px 0px 0px;
}

.user-chooser a:last-child .cell {
  border-radius: 0px 0px 3px 3px;
  border-bottom: none;
}

.user-chooser a:only-child .cell {
  border-radius: 3px;
  border-bottom: none;
}

.show {
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
}

.show-details {
  width: 330px;
  border: 2px solid #55557f;
  border-radius: 3px;
  background-color: #e5e5ff;
}

.show-details th {
  width: 40%;
  box-sizing: border-box;
  padding: 10px;
  text-align: right;
  background-color: #eeeeff;
  border-right: 1px solid #55557f;
}

.show-details td {
  width: 60%;
  box-sizing: border-box;
  border-left: 1px solid #55557f;
  padding: 10px;
  transition: all .15s ease-in-out;
  text-align: left;
}

.show-details td:hover {
  background-color: #eeeeff;
}

.show-details td a {
  display: block;
  width: 100%;
  padding: 10px;
  margin: -10px;
}

.budget-exceeded {
  color: red;
  transition: all .15s ease-in-out;
}

.budget-exceeded:hover {
  background-color: #ffe5e5 !important;
}

.show-buttons {
  width: 330px;
}

.show-buttons a {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #55557f;
  border-radius: 3px;
  background-color: #e5e5ff;
  transition: all .15s ease-in-out;
}

.show-buttons a:hover {
  background-color: #eeeeff;
}

.delete-button:hover {
  color: red;
  background-color: #ffe5e5 !important;
}

.delete-button:hover .hover-underline {
  border-bottom: 1px solid red;
}

table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    outline: 0;
    font-size: 100%;
}

.index-table {
  background-color: #e5e5ff;
  border: 2px solid #55557f;
  border-radius: 3px;
  width: 100%;
}

.index-table thead th {
  background-color: #eeeeff;
  border-bottom: 2px solid #55557f;
}

.index-table thead th:first-child {
  border-radius: 3px 0px 0px 0px;
}

.index-table thead th:last-child {
  border-radius: 0px 3px 0px 0px;
}

.index-table tbody tr {
  transition: all .15s ease-in-out;
}

.index-table tbody tr:last-child {
  border-radius: 0px 0px 3px 3px;
}

.index-table tbody tr:nth-child(even) {
  background-color: #ddddff;
}

.index-table tbody tr:hover {
  background-color: #eeeeff;
}

.index-table tbody td, .index-table th {
  padding: 10px;
  text-align: center;
}

.index-table tbody a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: -10px;
  transition: all .15s ease-in-out;
}

.index-table tfoot td {
  border-top: 2px solid #55557f;
}

.index-table tfoot td a {
  display: block;
  padding: 10px;
  text-align: center;
  transition: all .15s ease-in-out;
  border-radius: 0px 0px 3px 3px;
}

.index-table tfoot td a:hover {
  background-color: #eeeeff;
}

input[type=text], input[type=number], select {
  padding: 10px;
  margin: -12px -10px -10px -10px;
  width: 100%;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  color: #55557f;
  border: none;
  -webkit-appearance: none;
}

input:focus, select:focus {
	outline:0;
}

.show-details label {
  display: block;
  width: 100%;
  padding: 10px;
  margin: -10px;
}
