body {
  font-family: "Avenir Next", sans-serif;
  color: #55557f;
  background-color: #f6f6ff;
}

.content {
  width: 720px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  margin-top: 0px;
}

a {
  color: #55557f;
  text-decoration: none;
}

#title-link {
  font-weight: bold;
  color: #55557f;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px;
}

nav a {
  display: block;
  padding: 10px 15px;
  margin: 0px 5px;
  transition: all .15s ease-in;
  border-radius: 3px;
}

nav a:hover {
  background-color: #eeeeff;
}

.user-chooser {
  display: flex;
  flex-direction: column;
  background-color: #e5e5ff;
  border: 2px solid #55557f;
  border-radius: 3px;
}

.user-chooser .cell {
  font-size: 200%;
  text-align: center;
  padding: 30px 0px;
  transition: all .15s ease-in;
  border-bottom: 2px solid #55557f;
}

.user-chooser .cell:hover {
  background-color: #eeeeff;
}

.user-chooser a:first-child .cell {
  border-radius: 3px 3px 0px 0px;
}

.user-chooser a:last-child .cell {
  border-radius: 0px 0px 3px 3px;
  border-bottom: none;
}

.user-chooser a:only-child .cell {
  border-radius: 3px;
  border-bottom: none;
}

.user-details {
  display: flex;
  flex-flow: row wrap;
  background-color: #e5e5ff;
  border: 1px solid #55557f;
  border-radius: 3px;
}

.user-details .cell {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #55557f;
  transition: all .15s ease-in;
}

.user-details .cell:hover {
  background-color: #eeeeff;
}

.user-details .cell-50 a {
  transition: all .15s ease-in;
  border-bottom: 1px solid transparent;
}

.user-details .cell-50 a:hover {
  border-bottom: 1px solid #55557f;
}

.cell-50 {
  width: 50%;
}

.cell-100 {
  width: 100%;
}

a.cell-100 {
  text-align: center;
}

.field-name {
  display: inline-block;
  width: 35%;
}

.delete-button:hover {
  color: red;
}

table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    outline: 0;
    font-size: 100%;
}

.transaction-index {
  background-color: #e5e5ff;
  border: 2px solid #55557f;
  border-radius: 3px;
  width: 100%;
}

.transaction-index thead th {
  background-color: #eeeeff;
  border-bottom: 2px solid #55557f;
}

.transaction-index thead th:first-child {
  border-radius: 3px 0px 0px 0px;
}

.transaction-index thead th:last-child {
  border-radius: 0px 3px 0px 0px;
}

.transaction-index tbody tr {
  transition: all .15s ease-in;
}

.transaction-index tbody tr:last-child {
  border-radius: 0px 0px 3px 3px;
}

.transaction-index tbody tr:nth-child(even) {
  background-color: #ddddff;
}

.transaction-index tbody tr:hover {
  background-color: #eeeeff;
}

.transaction-index td, .transaction-index th {
  padding: 10px;
  text-align: center;
}

.transaction-index tbody a {
  transition: all .15s ease-in;
  border-bottom: 1px solid transparent;
}

.transaction-index tbody a:hover {
  border-bottom: 1px solid #55557f;
}
