body {
  font-family: "Avenir Next", sans-serif;
  color: #55557f;
  background-color: #f6f6ff;
}

.content {
  width: 720px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  margin-top: 0px;
}

a {
  color: #55557f;
  text-decoration: none;
}

#title-link {
  font-weight: bold;
  color: #55557f;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px;
}

nav a {
  display: block;
  padding: 10px 15px;
  margin: 0px 5px;
  transition: all .15s ease-in;
  border-radius: 3px;
}

nav a:hover {
  background-color: #eeeeff;
}

.user-index {
  display: flex;
  flex-direction: column;
  background-color: #e5e5ff;
  border: 2px solid #55557f;
  border-radius: 3px;
}

.user-index .cell {
  font-size: 200%;
  text-align: center;
  padding: 30px 0px;
  transition: all .15s ease-in;
  border-bottom: 2px solid #55557f;
}

.user-index .cell:hover {
  background-color: #eeeeff;
}

.user-index a:first-child .cell {
  border-radius: 3px 3px 0px 0px;
}

.user-index a:last-child .cell {
  border-radius: 0px 0px 3px 3px;
  border-bottom: none;
}

.user-index a:only-child .cell {
  border-radius: 3px;
  border-bottom: none;
}

.user-details {
  display: flex;
  flex-flow: row wrap;
  background-color: #e5e5ff;
  border: 1px solid #55557f;
  border-radius: 3px;
}

.user-details .cell {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #55557f;
  transition: all .15s ease-in;
}

.user-details .cell:hover {
  background-color: #eeeeff;
}

.cell-50 {
  width: 50%;
}

.cell-100 {
  width: 100%;
}

.field-name {
  display: inline-block;
  width: 35%;
}

#transactions-link {
  color: #55557f;
  text-decoration: none;
  text-align: center;
}

.transaction-index {
  display: flex;
  flex-direction: column;
  background-color: #e5e5ff;
  border: 2px solid #55557f;
  border-radius: 3px;
}

.transaction-index .row {
  transition: all .15s ease-in;
  border-bottom: 2px solid #55557f;
}

.transaction-index .row:hover {
  background-color: #eeeeff;
}

.transaction-index .row:first-child {
  border-radius: 3px 3px 0px 0px;
}

.transaction-index .row:last-child {
  border-radius: 0px 0px 3px 3px;
  border-bottom: none;
}

.transaction-index .row:only-child {
  border-radius: 3px;
  border-bottom: none;
}
